<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showdbdata</title>
</head>
<body>
    <h1 style="text-align: center;">Data of db table : <hr></h1>
    <div style="margin-left: 45%; font-size: 30px;">
        <ol>
            <li><a href="{% url 'myuser' %}">MyUsers</a></li>
            <li><a href="{% url 'customer' %}">Customer</a></li>
            <li><a href="{% url 'employee' %}">Emplyees</a></li>
            <li><a href="{% url 'student' %}">Students</a></li>
        </ol>
    </div>
</body>
</html>