<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userDataFromDb</title>
</head>

<body>
    <h1 style="text-align: center;">Data from db-myuser:
        <hr>
    </h1> <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            <div style="color: red; font-size: larger;">{{ message }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div style="margin: 0 30%; text-align: center;">
        <form method="POST">
            <h2 style="text-align: center;">MyUser Form</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
    <hr>
        <div style="margin: 0 30%; text-align: center;">
            <table border="2" width="500" height="500">
                <tr>
                    <th>User Id</th>
                    <th>Name</th>
                    <th>User-Type</th>
                </tr>
                {% if obj %}
                {% for k in obj %}
                <tr>
                    <td>{{ k.user_id }}</td>
                    <td>{{ k.name }}</td>
                    <td>{{ k.password }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
</body>

</html>