<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studentDataFromDb</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            <div style="color: red; font-size: larger;">{{ message }}</div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div style="margin: 0 30%; text-align: center; width: 500px; height: 500px; border: 2px solid red;">
        <form method="POST">
            <h2 style="text-align: center;">Student Form</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
    <h1 style="text-align: center;">Data from db-student: <hr></h1> <br>
    {% if obj %}
    {% for k in obj %}
    {{ k.name }} <br>
    {{ k.email }} <br>
    {{ k.contact }} <br>
    {{ k.city }} <br>
    <hr>
    {% endfor %}
    {% endif %}
    
</body>
</html>