<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>

<body>
    <h1 style="text-align: center;">Login Form</h1>
    <div>
        <form method="post">
            <table border="2" align="center" width="400" height="300" rules="none">
                <tr>
                    <th colspan="2">Login Form</th>
                </tr>
                <tr>
                    <td>UserName</td>
                    <td>{{form.username}}</td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td>{{form.password}}</td>
                </tr>
                <tfoot>
                    <th colspan="2"><button type="submit">Login</button></th>
                </tfoot>
            </table>
        </form>
    </div>
</body>

</html>